<%- include('../includes/head.ejs') %>
  </head>
  <%- include('../includes/body.ejs') %>
    <div class="container card">
      <div class="card-body">
        <h1 class="card-title text-center">Edit user</h1>

        <div class="row">
          <form class="col s12" action="<%= path == '/users' ? '/users/new' : '/signup' %>" method="POST">
            <%- include('./_form.ejs') %>
          </form>
        </div>
      </div>
    </div>
<%- include('../includes/end.ejs') %>